$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 12,
  7: $spacer * 5,
);

// color
$wash : #0d7fb4;
$theme-colors: (
  "wash":       $wash
);

$border-width:                1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

@import 'bootstrap/scss/bootstrap';
